/* backdrop stilization */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2E2F4266;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-icon {
  position: relative;
  background-color: #FCFCFC;
  z-index: 1000;

  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 2px 1px 0px #00000033;


  width: 408px;
  height: 582px;
  padding: 72px 24px 24px 24px;

  border-radius: 4px;
}

.backdrop-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 4px;
  border: none;
}

.cancel-button-icon {
  display: block;
  fill: currentColor;
}

.cancel-button-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 24px;
  top: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: #e7e9fc;
  border: 1px solid #2e2f4266;

  color: #2e2f42;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cancel-button-backdrop:hover,
.cancel-button-backdrop:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  color: #ffffff;
}

.backdrop-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 16px;
}

.backdrop-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #8E8F99;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  width: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop-input {
  max-width: 360px;
  min-height: 40px;
  border: 1px solid #2E2F4266;
  border-radius: 4px;
  padding: 8px 38px 8px 38px;
  width: 100%;
  outline: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455
}

.backdrop-input.backdrop-textarea {
  resize: none;
  height: 120px;
  max-width: 360px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-top: 8px;
}

.backdrop-input:focus {
  border-color: #4D5AE5;
}

.input-form-icon+.backdrop-input:focus {
  color: #4D5AE5;
}

.input-group-form {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  gap: 8px;
}

.span-policy {
  color: #4D5AE5;
  text-decoration: underline;
  text-decoration-color: #4d5ae5;
}

.send-form-button {
  width: 169px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px #00000026;
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFF;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-button:hover {
  background-color: #404BBF;
  color: #FFFF;
}

.policy-input {
  color: transparent;
  width: 14px;
  height: 14px;
  border: 0.88px solid #2E2F4266;
  border-radius: 1.75px;
}

.backdrop-input-span {
  position: relative;
}

.input-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}

.policy-label {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;

  cursor: pointer;

  width: 343px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  flex-shrink: 0;

  border: 0.88px solid #2E2F4266;
  border-radius: 1.75px;

  color: #F4F4FD;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check-icon {
  display: block;
  opacity: 0;
}

.policy-input:checked+.policy-label .custom-checkbox {
  background-color: #404BBF;
  border-color: #404BBF;
  border-radius: 2px;
}

.policy-input:checked+.policy-label .form-check-icon {
  opacity: 1;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
